@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-padding-top: 90px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1020px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1337;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px calc((100% - 1020px) / 2 + 40px) 34px;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__logo {
  margin: 0 0 2px 0;
  letter-spacing: -0.5px;
  font-family: "Lato-Bold", "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 0.8;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffffff;
}

.header__logo > span {
  color: #f06c64;
}

.header__nav {
  margin-top: 10px;
  width: 371px;
}

main {
  margin-top: 95px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-list__item {
  position: relative;
  font-family: "Lato-Bold", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 0.8;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-list__item:not(:first-of-type):before {
  position: absolute;
  content: "·";
  left: -14px;
  color: #494e62;
}

.nav-list__item_active {
  color: #f06c64;
}

.nav-link {
  cursor: pointer;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:active {
  opacity: 0.6;
}

.slider {
  position: relative;
}

.slider-control {
  position: absolute;
  content: "";
  width: 16px;
  height: 27px;
  padding: 0;
  background: url("assets/images/slider-control.svg");
  filter: grayscale(100%);
  top: calc(50% - 16px);
  opacity: 0.5;
  border: none;
  outline: none;
}

.slider-control_prev {
  left: calc((100% - 1020px) / 2 + 42px);
}

.slider-control_next {
  right: calc((100% - 1020px) / 2 + 40px);
  transform: scaleX(-1);
}

.slider-control:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: filter 0.25s;
}

.slider-control:active {
  opacity: 0.6;
}

.slide {
  display: none;
  justify-content: space-between;
  padding: 53px calc((100% - 1020px) / 2 + 112px) 83px;
  transition: background 0.5s;
}

.slide_active {
  display: flex;
}

.slide_1 {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slide_2 {
  justify-content: center;
  background: #648BF0;
  border-bottom: 6px solid #597DE0;
}

.slide_2 > .iphone {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.iphone {
  width: 215px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 27px;
  background: #f2f2f2;
  box-shadow: 25px 25px 0 0 rgba(0, 0, 0, 0.15);
}

.iphone_disassembled:before {
  position: absolute;
  top: 200px;
  content: "Oops";
}

.iphone_horizontal {
  margin-right: 147px;
  transform-origin: center;
  transform: rotate(90deg);
  box-shadow: 25px -25px 0 0 rgba(0, 0, 0, 0.15);
}

.iphone_copy-middle {
  z-index: 1;
}

.iphone_copy-middle > .iphone__display {
  filter: hue-rotate(45deg) saturate(2);
}

.iphone_copy-left, .iphone_copy-right {
  transform-origin: center;
  transform: scale(0.7);
  opacity: 0.6;
}

.iphone__sensor {
  margin-top: 16px;
  width: 10px;
  height: 10px;
  border: 3px solid #d8d8d8;
  border-radius: 50%;
  background: #eb5055;
  transition: transform 0.5s;
}

.iphone__dynamic {
  margin-top: 10px;
  background-color: #acacac;
  width: 36px;
  height: 5px;
  border-radius: 2px;
  transition: transform 0.5s;
}

.iphone__display {
  margin-top: 21px;
  width: 194px;
  height: 339px;
  border-radius: 2px;
  transition: transform 0.5s;
}

.iphone_vertical > .iphone__display {
  background: url("assets/images/iphone_screen1.png") no-repeat center;
}

.iphone_horizontal > .iphone__display {
  background: url("assets/images/iphone_screen2.png") no-repeat center;
}

.iphone__button {
  margin-top: 7px;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fafafa;
  transition: transform 0.5s;
}

.iphone__button:hover {
  box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5)
}

.iphone__button:active {
  box-shadow: 0 0 5px 0 rgba(255, 128, 128, 0.5)
}

.iphone__button:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background: #fafafa;
  border: 2px solid #bababa;
  border-radius: 4px;
}

.iphone_disassembled.iphone_vertical {
  animation: shake-hard 1s ease-in;
}

.iphone_disassembled.iphone_horizontal {
  animation: shake-hard_horizontal 1s ease-in;
}

.iphone_disassembled.iphone_copy-left, .iphone_disassembled.iphone_copy-right {
  animation: shake-hard_scale 0.9s ease-in;
}


.iphone_disassembled > .iphone__sensor {
  transform-origin: center;
  animation: rotate-scale-up-diag-2 0.7s linear 0.9s both;
}

.iphone_disassembled > .iphone__dynamic {
  transform-origin: center;
  transform: translate(-170px, -30px) rotate(-1250deg);
  transition: transform 0.6s cubic-bezier(.42, .69, .33, 1.07) 0.9s;
}

.iphone_disassembled > .iphone__display {
  transform: translate(-240px, 100px) rotate(-65deg);
  background-image: linear-gradient(#222222, #222222);
  transition: transform 0.5s ease-out 0.95s;
}

.iphone_disassembled > .iphone__button {
  transform: translate(185px, -50px) rotate(1135deg);
  transition: transform 1.3s ease-out 0.9s;
}

.services {
  padding: 68px calc((100% - 1020px) / 2 + 40px) 51px;
  background: #f2f2f2;
  color: #666d89;
  border-bottom: 6px solid #ffffff;
}

.services__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 0.6;
  font-weight: normal;
}

.services__description {
  margin: 27px 0 0 0;
  font-family: "Lato-Light", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.services__advantages-list {
  margin-top: 47px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px 20px;
}

.advantages-item {
  width: 300px;
  height: 100px;
  position: relative;
  padding-left: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advantages-item:before {
  position: absolute;
  content: "";
  left: 0;
  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
}

.advantages-item_design:before {
  background: url("assets/images/icon-pen.svg") no-repeat center;
}

.advantages-item_innovate:before {
  background: url("assets/images/icon-bulb.svg") no-repeat center;
}

.advantages-item_love:before {
  background: url("assets/images/icon-heart.svg") no-repeat center;
}

.advantages-item_responsive:before {
  background: url("assets/images/icon-phone.svg") no-repeat center;
}

.advantages-item_support:before {
  background: url("assets/images/icon-bubble.svg") no-repeat center;
}

.advantages-item_star:before {
  background: url("assets/images/icon-star.svg") no-repeat center;
}

.advantages-item__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: lighter;
}

.advantages-item__text {
  margin-top: 10px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  color: #767e9e;
  overflow: hidden;
  text-align: justify;
  hyphens: auto;
}

.portfolio {
  padding: 68px calc((100% - 1020px) / 2 + 40px) 67px;
  background: #2d303a;
  border-bottom: 6px solid #313745;
}

.portfolio__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  line-height: 0.6;
  letter-spacing: -0.1px;
  color: #666d89;
}

.portfolio__description {
  margin: 27px 0 0;
  font-family: "Lato-Light", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.portfolio__filter {
  margin-top: 11px;
  display: flex;
}

.filter__button {
  border: 1px solid #666d89;
  border-radius: 5px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.725;
  letter-spacing: 0.075px;
  color: #767e9e;
  background: transparent;
  padding: 0 5.5px;
  cursor: pointer;
  vertical-align: center;
}

.filter__button_active {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.filter__button:not(:first-of-type) {
  margin-left: 10px;
}

.filter__button:hover {
  transform: scale(1.2);
}

.filter__button:active {
  opacity: 0.6;
}

.filter__button:focus {
  box-shadow: 0 0 5px 0 #20B2AA;
}

.portfolio__gallery {
  margin-top: 8px;
  margin-left: -10px;
  max-height: 611px;
  width: 960px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__image {
  margin: 10px;
}

.gallery__image_selected {
  border: 5px solid #F06C64;
}

.about-us {
  padding: 68px calc((100% - 1020px) / 2 + 40px) 67px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 0.6;
  font-weight: lighter;
  letter-spacing: -0.2px;
  color: #666d89;
}

.about-us__description {
  margin: 27px 0 0;
  font-family: "Lato-Light", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
}

.members {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.members__card {
  width: 300px;
}

.card__heading {
  margin: 13px 0 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: lighter;
  color: #666d89;
  letter-spacing: -0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__description {
  margin-top: 10px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  color: #767e9e;
  text-align: justify;
  word-spacing: -0.5px;
}

.card__icons {
  margin-top: 24px;
  display: flex;
}

.card__icons > li:not(:first-of-type) {
  margin-left: 8px;
}

.icon-social {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #767e9e;
  opacity: 0.95;
}

.icon-social:hover {
  transform: scale(1.2);
}

.icon-social:active {
  opacity: 0.6;
}

.icon-social:focus {
  box-shadow: 0 0 5px 0 #20B2AA;
}

.icon-social_facebook {
  background: url("assets/images/social-facebook.svg") no-repeat center;
}

.icon-social_google {
  background: url("assets/images/social-google+.svg") no-repeat center;
}

.icon-social_twitter {
  background: url("assets/images/social-twitter.svg") no-repeat center;
}

.icon-social_linkedin {
  background: url("assets/images/social-linkedIn.svg") no-repeat center;
}

.get-a-quote {
  padding: 68px calc((100% - 1020px) / 2 + 40px) 21px;
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-a-quote__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  line-height: 0.6;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.get-a-quote__description {
  margin: 27px 0 0;
  font-family: "Lato-Light", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  text-align: justify;
}

.get-a-quote__contact-us-block {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.get-a-quote__form {
  width: 619px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.feedback__input {
  padding-left: 14px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: -0.2px;
  color: #f0d8d9;
  background: #d6564f;
  border: 0;
  border-radius: 5px;
  outline: 0;
}

.feedback__input:not(:first-of-type) {
  margin-top: 16px;
}

.feedback__input::placeholder {
  color: #f48c8f;
}

.feedback__input_name,
.feedback__input_email,
.feedback__input_subject {
  height: 38px;
}

.feedback__textarea {
  margin-top: 16px;
  height: 202px;
  padding-top: 7px;
  resize: none;
}

.feedback__submit {
  margin-top: 16px;
  width: 38%;
  min-height: 30px;
  align-self: center;
  border: 1px solid #848484;
  background: #77bb66;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #242424;
  text-transform: uppercase;
  cursor: pointer;
}

.feedback__input:hover {
  transform: scale(1.015);
}

.feedback__input:active {
  opacity: 0.6;
}

.feedback__input:focus {
  box-shadow: 0 0 5px 0 #ff2fbb;
}

.feedback__input:invalid {
  box-shadow: 0 0 5px 0 #ff1111;
}

.contacts {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  margin: 0;
  font-family: "Lato-Black", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: lighter;
  color: #f0d8d9;
  letter-spacing: -0.2px;
}

.contacts__description {
  margin-top: 10px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.85;
  color: #f0d8d9;
  text-align: justify;
  word-break: break-all;
  hyphens: auto;
}

.contacts__list {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  color: #f0d8d9;
}

.contacts__link {
  margin-left: 23px;
  position: relative;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #f0d8d9;
}

.contacts__link:before {
  position: absolute;
  content: "";
  left: -22px;
  top: calc(50% - 7px);
  width: 11px;
  height: 11px;
}

.contacts__item_loc > .contacts__link:before {
  background: url("assets/images/icon-location.svg") no-repeat center;
}

.contacts__item_tel > .contacts__link:before {
  background: url("assets/images/icon-tel.svg") no-repeat center;
}

.contacts__item_email > .contacts__link:before {
  background: url("assets/images/icon-mail.svg") no-repeat center;
  top: calc(50% - 3px);
  left: -23px;
  width: 13px;
  height: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px calc((100% - 1020px) / 2 + 40px) 22px;
  background: #2d303a;
}

.copyright {
  margin: 0 0 0 2px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 6px;
  color: #666d89;
  letter-spacing: -0.1px;
}

.footer .icon-social {
  opacity: 1;
}

.footer .card__icons {
  margin-top: 0;
}


/*==============MODALS==============*/
.modal {
  position: fixed;
  left: 15vw;
  top: 25vh;
  width: 70vw;
  height: 50vh;
}

.modal_form {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #666d89;
  border-radius: 8px;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.15;
  color: #666d89;
  box-shadow: 3px 5px 8px 0 #666d89;
}

.modal_active {
  display: flex;
}

.form-modal__info {
  max-width: 100%;
}

.form-modal__info * {
  margin: 0;
}

.form-modal__status {
  margin-bottom: 1.5em;
  font-weight: bold;
}

.form-modal__subject {
  margin-bottom: 0.4em;
  overflow-wrap: break-word;
}

.form-modal__description {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.form-modal__button {
  margin-top: 16px;
  width: 38%;
  min-height: 30px;
  align-self: center;
  border: 1px solid #848484;
  background: #77bb66;
  font-family: "Lato-Regular", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #242424;
  text-transform: uppercase;
  cursor: pointer;
}

.form-modal__button:hover {
  transform: scale(1.015);
}

.form-modal__button:active {
  opacity: 0.6;
}

.form-modal__button:focus {
  box-shadow: 0 0 5px 0 #ff2fbb;
}


/*==============ANIMATIONS==============*/
@keyframes shake-hard {
  2% {
    transform: translate(5px, 7px) rotate(0.5deg);
  }
  4% {
    transform: translate(5px, 9px) rotate(3.5deg);
  }
  6% {
    transform: translate(-2px, -5px) rotate(3.5deg);
  }
  8% {
    transform: translate(4px, 8px) rotate(-1.5deg);
  }
  10% {
    transform: translate(2px, 9px) rotate(-0.5deg);
  }
  12% {
    transform: translate(-5px, -4px) rotate(-2.5deg);
  }
  14% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  16% {
    transform: translate(-8px, 8px) rotate(2.5deg);
  }
  18% {
    transform: translate(4px, 5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(3px, -3px) rotate(3.5deg);
  }
  22% {
    transform: translate(0px, -6px) rotate(-1.5deg);
  }
  24% {
    transform: translate(-6px, -6px) rotate(3.5deg);
  }
  26% {
    transform: translate(-8px, -6px) rotate(0.5deg);
  }
  28% {
    transform: translate(-3px, -6px) rotate(1.5deg);
  }
  30% {
    transform: translate(7px, 8px) rotate(-1.5deg);
  }
  32% {
    transform: translate(7px, 6px) rotate(2.5deg);
  }
  34% {
    transform: translate(-7px, -7px) rotate(-2.5deg);
  }
  36% {
    transform: translate(7px, 3px) rotate(-0.5deg);
  }
  38% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1px, 10px) rotate(3.5deg);
  }
  44% {
    transform: translate(9px, 3px) rotate(3.5deg);
  }
  46% {
    transform: translate(-3px, 8px) rotate(-2.5deg);
  }
  48% {
    transform: translate(-5px, 7px) rotate(3.5deg);
  }
  50% {
    transform: translate(-9px, -5px) rotate(0.5deg);
  }
  52% {
    transform: translate(2px, 4px) rotate(0.5deg);
  }
  54% {
    transform: translate(2px, -9px) rotate(-2.5deg);
  }
  56% {
    transform: translate(-2px, 9px) rotate(-1.5deg);
  }
  58% {
    transform: translate(0px, 4px) rotate(0.5deg);
  }
  60% {
    transform: translate(-6px, 10px) rotate(3.5deg);
  }
  62% {
    transform: translate(-1px, 3px) rotate(2.5deg);
  }
  64% {
    transform: translate(5px, -5px) rotate(0.5deg);
  }
  66% {
    transform: translate(5px, 3px) rotate(3.5deg);
  }
  68% {
    transform: translate(1px, -7px) rotate(-2.5deg);
  }
  70% {
    transform: translate(7px, 3px) rotate(0.5deg);
  }
  72% {
    transform: translate(-9px, -8px) rotate(-2.5deg);
  }
  74% {
    transform: translate(9px, 10px) rotate(-1.5deg);
  }
  76% {
    transform: translate(-1px, -7px) rotate(1.5deg);
  }
  78% {
    transform: translate(-7px, -4px) rotate(-1.5deg);
  }
  80% {
    transform: translate(8px, -3px) rotate(3.5deg);
  }
  82% {
    transform: translate(9px, 5px) rotate(0.5deg);
  }
  84% {
    transform: translate(-4px, -7px) rotate(1.5deg);
  }
  86% {
    transform: translate(-7px, 9px) rotate(2.5deg);
  }
  88% {
    transform: translate(0px, 10px) rotate(1.5deg);
  }
  90% {
    transform: translate(7px, 4px) rotate(-2.5deg);
  }
  92% {
    transform: translate(-9px, 10px) rotate(-1.5deg);
  }
  94% {
    transform: translate(4px, -8px) rotate(0.5deg);
  }
  96% {
    transform: translate(9px, 0px) rotate(1.5deg);
  }
  98% {
    transform: translate(8px, -3px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake-hard_horizontal {
  2% {
    transform: translate(5px, 7px) rotate(90.5deg);
  }
  4% {
    transform: translate(5px, 9px) rotate(93.5deg);
  }
  6% {
    transform: translate(-2px, -5px) rotate(93.5deg);
  }
  8% {
    transform: translate(4px, 8px) rotate(88.5deg);
  }
  10% {
    transform: translate(2px, 9px) rotate(89.5deg);
  }
  12% {
    transform: translate(-5px, -4px) rotate(87.5deg);
  }
  14% {
    transform: translate(-6px, -1px) rotate(93.5deg);
  }
  16% {
    transform: translate(-8px, 8px) rotate(92.5deg);
  }
  18% {
    transform: translate(4px, 5px) rotate(89.5deg);
  }
  20% {
    transform: translate(3px, -3px) rotate(93.5deg);
  }
  22% {
    transform: translate(0px, -6px) rotate(88.5deg);
  }
  24% {
    transform: translate(-6px, -6px) rotate(93.5deg);
  }
  26% {
    transform: translate(-8px, -6px) rotate(90.5deg);
  }
  28% {
    transform: translate(-3px, -6px) rotate(91.5deg);
  }
  30% {
    transform: translate(7px, 8px) rotate(88.5deg);
  }
  32% {
    transform: translate(7px, 6px) rotate(92.5deg);
  }
  34% {
    transform: translate(-7px, -7px) rotate(87.5deg);
  }
  36% {
    transform: translate(7px, 3px) rotate(89.5deg);
  }
  38% {
    transform: translate(-6px, -1px) rotate(93.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(89.5deg);
  }
  42% {
    transform: translate(-1px, 10px) rotate(93.5deg);
  }
  44% {
    transform: translate(9px, 3px) rotate(93.5deg);
  }
  46% {
    transform: translate(-3px, 8px) rotate(87.5deg);
  }
  48% {
    transform: translate(-5px, 7px) rotate(93.5deg);
  }
  50% {
    transform: translate(-9px, -5px) rotate(90.5deg);
  }
  52% {
    transform: translate(2px, 4px) rotate(90.5deg);
  }
  54% {
    transform: translate(2px, -9px) rotate(87.5deg);
  }
  56% {
    transform: translate(-2px, 9px) rotate(88.5deg);
  }
  58% {
    transform: translate(0px, 4px) rotate(90.5deg);
  }
  60% {
    transform: translate(-6px, 10px) rotate(93.5deg);
  }
  62% {
    transform: translate(-1px, 3px) rotate(92.5deg);
  }
  64% {
    transform: translate(5px, -5px) rotate(90.5deg);
  }
  66% {
    transform: translate(5px, 3px) rotate(93.5deg);
  }
  68% {
    transform: translate(1px, -7px) rotate(87.5deg);
  }
  70% {
    transform: translate(7px, 3px) rotate(90.5deg);
  }
  72% {
    transform: translate(-9px, -8px) rotate(87.5deg);
  }
  74% {
    transform: translate(9px, 10px) rotate(88.5deg);
  }
  76% {
    transform: translate(-1px, -7px) rotate(91.5deg);
  }
  78% {
    transform: translate(-7px, -4px) rotate(88.5deg);
  }
  80% {
    transform: translate(8px, -3px) rotate(93.5deg);
  }
  82% {
    transform: translate(9px, 5px) rotate(90.5deg);
  }
  84% {
    transform: translate(-4px, -7px) rotate(91.5deg);
  }
  86% {
    transform: translate(-7px, 9px) rotate(92.5deg);
  }
  88% {
    transform: translate(0px, 10px) rotate(91.5deg);
  }
  90% {
    transform: translate(7px, 4px) rotate(87.5deg);
  }
  92% {
    transform: translate(-9px, 10px) rotate(88.5deg);
  }
  94% {
    transform: translate(4px, -8px) rotate(90.5deg);
  }
  96% {
    transform: translate(9px, 0px) rotate(91.5deg);
  }
  98% {
    transform: translate(8px, -3px) rotate(91.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes shake-hard_scale {
  2% {
    transform: translate(5px, 7px) rotate(0.5deg) scale(0.7);
  }
  4% {
    transform: translate(5px, 9px) rotate(3.5deg) scale(0.7);
  }
  6% {
    transform: translate(-2px, -5px) rotate(3.5deg) scale(0.7);
  }
  8% {
    transform: translate(4px, 8px) rotate(-1.5deg) scale(0.7);
  }
  10% {
    transform: translate(2px, 9px) rotate(-0.5deg) scale(0.7);
  }
  12% {
    transform: translate(-5px, -4px) rotate(-2.5deg) scale(0.7);
  }
  14% {
    transform: translate(-6px, -1px) rotate(3.5deg) scale(0.7);
  }
  16% {
    transform: translate(-8px, 8px) rotate(2.5deg) scale(0.7);
  }
  18% {
    transform: translate(4px, 5px) rotate(-0.5deg) scale(0.7);
  }
  20% {
    transform: translate(3px, -3px) rotate(3.5deg) scale(0.7);
  }
  22% {
    transform: translate(0px, -6px) rotate(-1.5deg) scale(0.7);
  }
  24% {
    transform: translate(-6px, -6px) rotate(3.5deg) scale(0.7);
  }
  26% {
    transform: translate(-8px, -6px) rotate(0.5deg) scale(0.7);
  }
  28% {
    transform: translate(-3px, -6px) rotate(1.5deg) scale(0.7);
  }
  30% {
    transform: translate(7px, 8px) rotate(-1.5deg) scale(0.7);
  }
  32% {
    transform: translate(7px, 6px) rotate(2.5deg) scale(0.7);
  }
  34% {
    transform: translate(-7px, -7px) rotate(-2.5deg) scale(0.7);
  }
  36% {
    transform: translate(7px, 3px) rotate(-0.5deg) scale(0.7);
  }
  38% {
    transform: translate(-6px, -1px) rotate(3.5deg) scale(0.7);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg) scale(0.7);
  }
  42% {
    transform: translate(-1px, 10px) rotate(3.5deg) scale(0.7);
  }
  44% {
    transform: translate(9px, 3px) rotate(3.5deg) scale(0.7);
  }
  46% {
    transform: translate(-3px, 8px) rotate(-2.5deg) scale(0.7);
  }
  48% {
    transform: translate(-5px, 7px) rotate(3.5deg) scale(0.7);
  }
  50% {
    transform: translate(-9px, -5px) rotate(0.5deg) scale(0.7);
  }
  52% {
    transform: translate(2px, 4px) rotate(0.5deg) scale(0.7);
  }
  54% {
    transform: translate(2px, -9px) rotate(-2.5deg) scale(0.7);
  }
  56% {
    transform: translate(-2px, 9px) rotate(-1.5deg) scale(0.7);
  }
  58% {
    transform: translate(0px, 4px) rotate(0.5deg) scale(0.7);
  }
  60% {
    transform: translate(-6px, 10px) rotate(3.5deg) scale(0.7);
  }
  62% {
    transform: translate(-1px, 3px) rotate(2.5deg) scale(0.7);
  }
  64% {
    transform: translate(5px, -5px) rotate(0.5deg) scale(0.7);
  }
  66% {
    transform: translate(5px, 3px) rotate(3.5deg) scale(0.7);
  }
  68% {
    transform: translate(1px, -7px) rotate(-2.5deg) scale(0.7);
  }
  70% {
    transform: translate(7px, 3px) rotate(0.5deg) scale(0.7);
  }
  72% {
    transform: translate(-9px, -8px) rotate(-2.5deg) scale(0.7);
  }
  74% {
    transform: translate(9px, 10px) rotate(-1.5deg) scale(0.7);
  }
  76% {
    transform: translate(-1px, -7px) rotate(1.5deg) scale(0.7);
  }
  78% {
    transform: translate(-7px, -4px) rotate(-1.5deg) scale(0.7);
  }
  80% {
    transform: translate(8px, -3px) rotate(3.5deg) scale(0.7);
  }
  82% {
    transform: translate(9px, 5px) rotate(0.5deg) scale(0.7);
  }
  84% {
    transform: translate(-4px, -7px) rotate(1.5deg) scale(0.7);
  }
  86% {
    transform: translate(-7px, 9px) rotate(2.5deg) scale(0.7);
  }
  88% {
    transform: translate(0px, 10px) rotate(1.5deg) scale(0.7);
  }
  90% {
    transform: translate(7px, 4px) rotate(-2.5deg) scale(0.7);
  }
  92% {
    transform: translate(-9px, 10px) rotate(-1.5deg) scale(0.7);
  }
  94% {
    transform: translate(4px, -8px) rotate(0.5deg) scale(0.7);
  }
  96% {
    transform: translate(9px, 0px) rotate(1.5deg) scale(0.7);
  }
  98% {
    transform: translate(8px, -3px) rotate(1.5deg) scale(0.7);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0) scale(0.7);
  }
}

@keyframes rotate-scale-up-diag-2 {
  0% {
    transform: scale(1) translate(0, 0) rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    transform: scale(2.5) translate(-5px, 5px) rotate3d(-1, 1, 0, 180deg);
  }
  50% {
    transform: scale(5) translate(-10px, 10px) rotate3d(-1, 1, 0, 360deg);
  }
  75% {
    transform: scale(2.5) translate(-25px, 25px) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: scale(1) translate(-50px, 50px) rotate3d(-1, 1, 0, 360deg);
  }
}

