@keyframes shake-hard {
  2% {
    transform: translate(5px, 7px) rotate(0.5deg);
  }
  4% {
    transform: translate(5px, 9px) rotate(3.5deg);
  }
  6% {
    transform: translate(-2px, -5px) rotate(3.5deg);
  }
  8% {
    transform: translate(4px, 8px) rotate(-1.5deg);
  }
  10% {
    transform: translate(2px, 9px) rotate(-0.5deg);
  }
  12% {
    transform: translate(-5px, -4px) rotate(-2.5deg);
  }
  14% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  16% {
    transform: translate(-8px, 8px) rotate(2.5deg);
  }
  18% {
    transform: translate(4px, 5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(3px, -3px) rotate(3.5deg);
  }
  22% {
    transform: translate(0px, -6px) rotate(-1.5deg);
  }
  24% {
    transform: translate(-6px, -6px) rotate(3.5deg);
  }
  26% {
    transform: translate(-8px, -6px) rotate(0.5deg);
  }
  28% {
    transform: translate(-3px, -6px) rotate(1.5deg);
  }
  30% {
    transform: translate(7px, 8px) rotate(-1.5deg);
  }
  32% {
    transform: translate(7px, 6px) rotate(2.5deg);
  }
  34% {
    transform: translate(-7px, -7px) rotate(-2.5deg);
  }
  36% {
    transform: translate(7px, 3px) rotate(-0.5deg);
  }
  38% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1px, 10px) rotate(3.5deg);
  }
  44% {
    transform: translate(9px, 3px) rotate(3.5deg);
  }
  46% {
    transform: translate(-3px, 8px) rotate(-2.5deg);
  }
  48% {
    transform: translate(-5px, 7px) rotate(3.5deg);
  }
  50% {
    transform: translate(-9px, -5px) rotate(0.5deg);
  }
  52% {
    transform: translate(2px, 4px) rotate(0.5deg);
  }
  54% {
    transform: translate(2px, -9px) rotate(-2.5deg);
  }
  56% {
    transform: translate(-2px, 9px) rotate(-1.5deg);
  }
  58% {
    transform: translate(0px, 4px) rotate(0.5deg);
  }
  60% {
    transform: translate(-6px, 10px) rotate(3.5deg);
  }
  62% {
    transform: translate(-1px, 3px) rotate(2.5deg);
  }
  64% {
    transform: translate(5px, -5px) rotate(0.5deg);
  }
  66% {
    transform: translate(5px, 3px) rotate(3.5deg);
  }
  68% {
    transform: translate(1px, -7px) rotate(-2.5deg);
  }
  70% {
    transform: translate(7px, 3px) rotate(0.5deg);
  }
  72% {
    transform: translate(-9px, -8px) rotate(-2.5deg);
  }
  74% {
    transform: translate(9px, 10px) rotate(-1.5deg);
  }
  76% {
    transform: translate(-1px, -7px) rotate(1.5deg);
  }
  78% {
    transform: translate(-7px, -4px) rotate(-1.5deg);
  }
  80% {
    transform: translate(8px, -3px) rotate(3.5deg);
  }
  82% {
    transform: translate(9px, 5px) rotate(0.5deg);
  }
  84% {
    transform: translate(-4px, -7px) rotate(1.5deg);
  }
  86% {
    transform: translate(-7px, 9px) rotate(2.5deg);
  }
  88% {
    transform: translate(0px, 10px) rotate(1.5deg);
  }
  90% {
    transform: translate(7px, 4px) rotate(-2.5deg);
  }
  92% {
    transform: translate(-9px, 10px) rotate(-1.5deg);
  }
  94% {
    transform: translate(4px, -8px) rotate(0.5deg);
  }
  96% {
    transform: translate(9px, 0px) rotate(1.5deg);
  }
  98% {
    transform: translate(8px, -3px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake-hard_horizontal {
  2% {
    transform: translate(5px, 7px) rotate(90.5deg);
  }
  4% {
    transform: translate(5px, 9px) rotate(93.5deg);
  }
  6% {
    transform: translate(-2px, -5px) rotate(93.5deg);
  }
  8% {
    transform: translate(4px, 8px) rotate(88.5deg);
  }
  10% {
    transform: translate(2px, 9px) rotate(89.5deg);
  }
  12% {
    transform: translate(-5px, -4px) rotate(87.5deg);
  }
  14% {
    transform: translate(-6px, -1px) rotate(93.5deg);
  }
  16% {
    transform: translate(-8px, 8px) rotate(92.5deg);
  }
  18% {
    transform: translate(4px, 5px) rotate(89.5deg);
  }
  20% {
    transform: translate(3px, -3px) rotate(93.5deg);
  }
  22% {
    transform: translate(0px, -6px) rotate(88.5deg);
  }
  24% {
    transform: translate(-6px, -6px) rotate(93.5deg);
  }
  26% {
    transform: translate(-8px, -6px) rotate(90.5deg);
  }
  28% {
    transform: translate(-3px, -6px) rotate(91.5deg);
  }
  30% {
    transform: translate(7px, 8px) rotate(88.5deg);
  }
  32% {
    transform: translate(7px, 6px) rotate(92.5deg);
  }
  34% {
    transform: translate(-7px, -7px) rotate(87.5deg);
  }
  36% {
    transform: translate(7px, 3px) rotate(89.5deg);
  }
  38% {
    transform: translate(-6px, -1px) rotate(93.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(89.5deg);
  }
  42% {
    transform: translate(-1px, 10px) rotate(93.5deg);
  }
  44% {
    transform: translate(9px, 3px) rotate(93.5deg);
  }
  46% {
    transform: translate(-3px, 8px) rotate(87.5deg);
  }
  48% {
    transform: translate(-5px, 7px) rotate(93.5deg);
  }
  50% {
    transform: translate(-9px, -5px) rotate(90.5deg);
  }
  52% {
    transform: translate(2px, 4px) rotate(90.5deg);
  }
  54% {
    transform: translate(2px, -9px) rotate(87.5deg);
  }
  56% {
    transform: translate(-2px, 9px) rotate(88.5deg);
  }
  58% {
    transform: translate(0px, 4px) rotate(90.5deg);
  }
  60% {
    transform: translate(-6px, 10px) rotate(93.5deg);
  }
  62% {
    transform: translate(-1px, 3px) rotate(92.5deg);
  }
  64% {
    transform: translate(5px, -5px) rotate(90.5deg);
  }
  66% {
    transform: translate(5px, 3px) rotate(93.5deg);
  }
  68% {
    transform: translate(1px, -7px) rotate(87.5deg);
  }
  70% {
    transform: translate(7px, 3px) rotate(90.5deg);
  }
  72% {
    transform: translate(-9px, -8px) rotate(87.5deg);
  }
  74% {
    transform: translate(9px, 10px) rotate(88.5deg);
  }
  76% {
    transform: translate(-1px, -7px) rotate(91.5deg);
  }
  78% {
    transform: translate(-7px, -4px) rotate(88.5deg);
  }
  80% {
    transform: translate(8px, -3px) rotate(93.5deg);
  }
  82% {
    transform: translate(9px, 5px) rotate(90.5deg);
  }
  84% {
    transform: translate(-4px, -7px) rotate(91.5deg);
  }
  86% {
    transform: translate(-7px, 9px) rotate(92.5deg);
  }
  88% {
    transform: translate(0px, 10px) rotate(91.5deg);
  }
  90% {
    transform: translate(7px, 4px) rotate(87.5deg);
  }
  92% {
    transform: translate(-9px, 10px) rotate(88.5deg);
  }
  94% {
    transform: translate(4px, -8px) rotate(90.5deg);
  }
  96% {
    transform: translate(9px, 0px) rotate(91.5deg);
  }
  98% {
    transform: translate(8px, -3px) rotate(91.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes shake-hard_scale {
  2% {
    transform: translate(5px, 7px) rotate(0.5deg) scale(0.7);
  }
  4% {
    transform: translate(5px, 9px) rotate(3.5deg) scale(0.7);
  }
  6% {
    transform: translate(-2px, -5px) rotate(3.5deg) scale(0.7);
  }
  8% {
    transform: translate(4px, 8px) rotate(-1.5deg) scale(0.7);
  }
  10% {
    transform: translate(2px, 9px) rotate(-0.5deg) scale(0.7);
  }
  12% {
    transform: translate(-5px, -4px) rotate(-2.5deg) scale(0.7);
  }
  14% {
    transform: translate(-6px, -1px) rotate(3.5deg) scale(0.7);
  }
  16% {
    transform: translate(-8px, 8px) rotate(2.5deg) scale(0.7);
  }
  18% {
    transform: translate(4px, 5px) rotate(-0.5deg) scale(0.7);
  }
  20% {
    transform: translate(3px, -3px) rotate(3.5deg) scale(0.7);
  }
  22% {
    transform: translate(0px, -6px) rotate(-1.5deg) scale(0.7);
  }
  24% {
    transform: translate(-6px, -6px) rotate(3.5deg) scale(0.7);
  }
  26% {
    transform: translate(-8px, -6px) rotate(0.5deg) scale(0.7);
  }
  28% {
    transform: translate(-3px, -6px) rotate(1.5deg) scale(0.7);
  }
  30% {
    transform: translate(7px, 8px) rotate(-1.5deg) scale(0.7);
  }
  32% {
    transform: translate(7px, 6px) rotate(2.5deg) scale(0.7);
  }
  34% {
    transform: translate(-7px, -7px) rotate(-2.5deg) scale(0.7);
  }
  36% {
    transform: translate(7px, 3px) rotate(-0.5deg) scale(0.7);
  }
  38% {
    transform: translate(-6px, -1px) rotate(3.5deg) scale(0.7);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg) scale(0.7);
  }
  42% {
    transform: translate(-1px, 10px) rotate(3.5deg) scale(0.7);
  }
  44% {
    transform: translate(9px, 3px) rotate(3.5deg) scale(0.7);
  }
  46% {
    transform: translate(-3px, 8px) rotate(-2.5deg) scale(0.7);
  }
  48% {
    transform: translate(-5px, 7px) rotate(3.5deg) scale(0.7);
  }
  50% {
    transform: translate(-9px, -5px) rotate(0.5deg) scale(0.7);
  }
  52% {
    transform: translate(2px, 4px) rotate(0.5deg) scale(0.7);
  }
  54% {
    transform: translate(2px, -9px) rotate(-2.5deg) scale(0.7);
  }
  56% {
    transform: translate(-2px, 9px) rotate(-1.5deg) scale(0.7);
  }
  58% {
    transform: translate(0px, 4px) rotate(0.5deg) scale(0.7);
  }
  60% {
    transform: translate(-6px, 10px) rotate(3.5deg) scale(0.7);
  }
  62% {
    transform: translate(-1px, 3px) rotate(2.5deg) scale(0.7);
  }
  64% {
    transform: translate(5px, -5px) rotate(0.5deg) scale(0.7);
  }
  66% {
    transform: translate(5px, 3px) rotate(3.5deg) scale(0.7);
  }
  68% {
    transform: translate(1px, -7px) rotate(-2.5deg) scale(0.7);
  }
  70% {
    transform: translate(7px, 3px) rotate(0.5deg) scale(0.7);
  }
  72% {
    transform: translate(-9px, -8px) rotate(-2.5deg) scale(0.7);
  }
  74% {
    transform: translate(9px, 10px) rotate(-1.5deg) scale(0.7);
  }
  76% {
    transform: translate(-1px, -7px) rotate(1.5deg) scale(0.7);
  }
  78% {
    transform: translate(-7px, -4px) rotate(-1.5deg) scale(0.7);
  }
  80% {
    transform: translate(8px, -3px) rotate(3.5deg) scale(0.7);
  }
  82% {
    transform: translate(9px, 5px) rotate(0.5deg) scale(0.7);
  }
  84% {
    transform: translate(-4px, -7px) rotate(1.5deg) scale(0.7);
  }
  86% {
    transform: translate(-7px, 9px) rotate(2.5deg) scale(0.7);
  }
  88% {
    transform: translate(0px, 10px) rotate(1.5deg) scale(0.7);
  }
  90% {
    transform: translate(7px, 4px) rotate(-2.5deg) scale(0.7);
  }
  92% {
    transform: translate(-9px, 10px) rotate(-1.5deg) scale(0.7);
  }
  94% {
    transform: translate(4px, -8px) rotate(0.5deg) scale(0.7);
  }
  96% {
    transform: translate(9px, 0px) rotate(1.5deg) scale(0.7);
  }
  98% {
    transform: translate(8px, -3px) rotate(1.5deg) scale(0.7);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0) scale(0.7);
  }
}

@keyframes rotate-scale-up-diag-2 {
  0% {
    transform: scale(1) translate(0, 0) rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    transform: scale(2.5) translate(-5px, 5px) rotate3d(-1, 1, 0, 180deg);
  }
  50% {
    transform: scale(5) translate(-10px, 10px) rotate3d(-1, 1, 0, 360deg);
  }
  75% {
    transform: scale(2.5) translate(-25px, 25px) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: scale(1) translate(-50px, 50px) rotate3d(-1, 1, 0, 360deg);
  }
}

@keyframes covid-attack {
  from {
    transform: scale(1) translate(5px, 10px) rotate(0);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91) translate(15px, 15px)  rotate(-45deg);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98) translate(-5px, -5px)  rotate(-120deg);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87) translate(-15px, 0)  rotate(-270deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1) translate(5px, 10px) rotate(-45deg);
    animation-timing-function: ease-out;
  }
}

@keyframes covid-attack_horizontal {
  from {
    transform: scale(1) translate(5px, 10px) rotate(-90deg);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91) translate(15px, 15px) rotate(-135deg);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98) translate(-5px, -5px) rotate(-360deg);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87) translate(-15px, 0) rotate(-90deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1) translate(5px, 10px) rotate(-135deg);
    animation-timing-function: ease-out;
  }
}
