html {
  box-sizing: border-box;
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1020px;
}

@media (max-width: 1019px) {
  body {
    min-width: 768px;
  }
}

main {
  margin-top: 95px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}