.about-us {
  padding: 68px calc((100% - 1020px) / 2 + 40px) 67px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;

  &__heading {
    margin: 0;
    font-family: "Lato-Black", "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 0.6;
    font-weight: lighter;
    letter-spacing: -0.2px;
    color: #666d89;
  }

  &__description {
    margin: 27px 0 0;
    font-family: "Lato-Light", "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #767e9e;
  }
}

@media (max-width: 1019px) {
  .about-us {
    padding: 68px calc((100% - 768px) / 2 + 40px) 67px;
  }
}