.contacts {
  margin-left: 21px;
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0;
    font-family: "Lato-Black", "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: lighter;
    color: #f0d8d9;
    letter-spacing: -0.2px;
  }

  &__description {
    margin-top: 10px;
    font-family: "Lato-Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.85;
    color: #f0d8d9;
    text-align: justify;
    word-break: break-all;
    hyphens: auto;
  }

  &__list {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    color: #f0d8d9;
  }

  &__link {
    margin-left: 23px;
    position: relative;
    font-family: "Lato-Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.8;
    color: #f0d8d9;
  }

  &__link:before {
    position: absolute;
    content: "";
    left: -22px;
    top: calc(50% - 7px);
    width: 11px;
    height: 11px;
  }

  &__item_loc > &__link:before {
    background: url("assets/images/icon-location.svg") no-repeat center;
  }

  &__item_tel > &__link:before {
    background: url("assets/images/icon-tel.svg") no-repeat center;
  }

  &__item_email > &__link:before {
    background: url("assets/images/icon-mail.svg") no-repeat center;
    top: calc(50% - 3px);
    left: -23px;
    width: 13px;
    height: 8px;
  }
}

@media (max-width: 1019px) {
  .contacts {
    margin-left: 0;
  }
}

