.feedback {
  &__input {
    padding-left: 14px;
    font-family: "Lato-Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: -0.2px;
    color: #f0d8d9;
    background: #d6564f;
    border: 0;
    border-radius: 5px;
    outline: 0;

    &:not(:first-of-type) {
      margin-top: 16px;
    }

    &::placeholder {
      color: #f48c8f;
    }

    &_name,
    &_email,
    &_subject {
      height: 38px;
    }

    &:hover {
      transform: scale(1.015);
    }

    &:active {
      opacity: 0.6;
    }

    &:focus {
      box-shadow: 0 0 5px 0 #ff2fbb;
    }

    &:invalid {
      box-shadow: 0 0 5px 0 #ff1111;
    }
  }

  &__textarea {
    margin-top: 16px;
    height: 159px;
    padding-top: 7px;
    resize: none;
  }

  &__submit {
    margin-top: 14px;
    width: 136px;
    min-height: 38px;
    align-self: flex-start;
    border: 1px solid #848484;
    background: #FBC65F;
    font-family: "Lato-Bold", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #886A30;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (max-width: 1019px) {
  .feedback {
    &__input {
      &:not(:first-of-type) {
        margin-top: 12px;
      }
    }

    &__textarea {
      margin-top: 12px;
      height: 159px;
    }
  }
}

@media (max-width: 767px) {
  .feedback {
    &__submit {
      margin-top: 14px;
      width: 100%;
      min-height: 50px;
    }
  }
}
