.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px calc((100% - 1020px) / 2 + 40px) 22px;
  background: #2d303a;

  & .icon-social {
    opacity: 1;
  }

  & .card__icons {
    margin-top: 0;
  }
}

@media (max-width: 1019px) {
  .footer {
    padding: 22px 40px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 76px;
    justify-content: center;
    padding: 0;

    &__copyright {
      display: none;
    }
  }
}
