.form-modal {
  &__info {
    max-width: 100%;
  }

  &__info * {
    margin: 0;
  }

  &__status {
    margin-bottom: 1.5em;
    font-weight: bold;
  }

  &__subject {
    margin-bottom: 0.4em;
    overflow-wrap: break-word;
  }

  &__description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  &__button {
    margin-top: 16px;
    width: 38%;
    min-height: 30px;
    align-self: center;
    border: 1px solid #848484;
    background: #77bb66;
    font-family: "Lato-Regular", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__button:hover {
    transform: scale(1.015);
  }

  &__button:active {
    opacity: 0.6;
  }

  &__button:focus {
    box-shadow: 0 0 5px 0 #ff2fbb;
  }
}

