.gallery {
  &__image {
    box-sizing: border-box;
    width: 100%;

    &:nth-child(n + 13) {
      display: none;
    }
  }

  &__image_selected {
    box-sizing: border-box;
    border: 5px solid #F06C64;
  }
}

@media (max-width: 1019px) {
  .gallery {
  }
}
