.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1337;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px calc((100% - 1020px) / 2 + 40px) 34px;
  background: #2d303a;
  border-bottom: 6px solid #323746;

  &__button_burger {
    display: none;
    position: absolute;
    left: 25px;
    top: 25px;
    width: 25px;
    height: 20px;
    box-sizing: border-box;
    appearance: none;
    border: none;
  }

  &__logo {
    margin: 0 0 2px 0;
    letter-spacing: -0.5px;
    font-family: "Lato-Bold", "Open Sans", sans-serif;
    font-size: 25px;
    line-height: 0.8;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;

    & > span {
      color: #f06c64
    }
  }

  &__nav {
    margin-top: 10px;
    width: 371px;
  }
}

@media (max-width: 1019px) {
  .header {
    padding: 33px 40px 34px;

    &__nav {
      margin-top: 5px;
      width: 371px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    justify-content: center;
    padding: 25px 20px 19px;

    &__button_burger {
      display: block;
      background: url(assets/images/burger-menu-icon.svg) center no-repeat;
    }

    &__logo {
      margin: 0;
      font-size: 20px;
      line-height: 1.2;
    }

    &__nav {
      display: none;
      margin-top: 0;
      width: 74vw;
    }
  }
}
