.icon-social {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #767e9e;
  opacity: 0.95;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    box-shadow: 0 0 5px 0 #20B2AA;
  }

  &_facebook {
    background: url("assets/images/social-facebook.svg") no-repeat center;
  }

  &_google {
    background: url("assets/images/social-google+.svg") no-repeat center;
  }

  &_twitter {
    background: url("assets/images/social-twitter.svg") no-repeat center;
  }

  &_linkedin {
    background: url("assets/images/social-linkedIn.svg") no-repeat center;
  }
}

