.iphone {
  position: relative;
  width: 215px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 27px;
  background: #f2f2f2;
  box-shadow: 25px 25px 0 0 rgba(0, 0, 0, 0.15);

  &_horizontal {
    margin-right: 146px;
    transform-origin: center;
    transform: rotate(90deg);
    box-shadow: 25px -25px 0 0 rgba(0, 0, 0, 0.15);
  }

  &_copy-middle {
    z-index: 1;
  }

  &_copy-middle > .iphone__display {
    filter: hue-rotate(45deg) saturate(2);
  }

  &_copy-left, &_copy-right {
    transform-origin: center;
    transform: scale(0.7);
    opacity: 0.6;
  }

  &__sensor {
    margin-top: 16px;
    width: 10px;
    height: 10px;
    border: 3px solid #d8d8d8;
    border-radius: 50%;
    background: #eb5055;
    transition: transform 0.5s;
  }

  &__dynamic {
    margin-top: 10px;
    background-color: #acacac;
    width: 36px;
    height: 5px;
    border-radius: 2px;
    transition: transform 0.5s;
  }

  &__display {
    margin-top: 21px;
    width: 194px;
    height: 339px;
    border-radius: 2px;
    transition: transform 0.5s;
  }

  &_vertical > .iphone__display {
    background: url("assets/images/iphone_screen1.png") no-repeat center;
    background-size: contain;
  }

  &_horizontal > .iphone__display {
    background: url("assets/images/iphone_screen2.png") no-repeat center;
    background-size: contain;
  }

  &__button {
    margin-top: 7px;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fafafa;
    transition: transform 0.5s;
  }

  &__button:hover {
    box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5)
  }

  &__button:active {
    box-shadow: 0 0 5px 0 rgba(255, 128, 128, 0.5)
  }

  &__button:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    background: #fafafa;
    border: 2px solid #bababa;
    border-radius: 4px;
  }

  &_disassembled:before {
    position: absolute;
    top: 20%;
    width: 67%;
    height: 33%;
    content: "";
    background: url("assets/images/covid-19.png") center/contain no-repeat;
  }

  &_disassembled.iphone_horizontal:before {
    transform: rotate(-90deg);
  }

  &_disassembled.iphone_vertical {
    animation: shake-hard 1s ease-in;
  }

  &_disassembled.iphone_horizontal {
    animation: shake-hard_horizontal 1s ease-in;
  }

  &_disassembled.iphone_copy-left, &_disassembled.iphone_copy-right {
    animation: shake-hard_scale 0.9s ease-in;
  }

  &_disassembled > .iphone__sensor {
    transform-origin: center;
    animation: rotate-scale-up-diag-2 0.7s linear 0.9s both;
  }

  &_disassembled > .iphone__dynamic {
    transform-origin: center;
    transform: translate(-170px, -30px) rotate(-1250deg);
    transition: transform 0.6s cubic-bezier(.42, .69, .33, 1.07) 0.9s;
  }

  &_disassembled > .iphone__display {
    transform: translate(-240px, 100px) rotate(-65deg);
    background-image: linear-gradient(#222222, #222222);
    transition: transform 0.5s ease-out 0.95s;
  }

  &_disassembled > .iphone__button {
    transform: translate(185px, -50px) rotate(1135deg);
    transition: transform 1.3s ease-out 0.9s;
  }
}

@media (max-width: 1019px) {
  .iphone {
    width: 163px;
    height: 345px;
    border-radius: 20px;
    box-shadow: 19px 19px 0 0 rgba(0, 0, 0, 0.15);

    &_horizontal {
      margin-right: 110px;
      box-shadow: 19px -19px 0 0 rgba(0, 0, 0, 0.15);
    }

    &__sensor {
      margin-top: 12px;
      width: 7px;
      height: 7px;
      border: 2px solid #d8d8d8;
    }

    &__dynamic {
      margin-top: 8px;
      width: 27px;
      height: 4px;
    }

    &__display {
      margin-top: 16px;
      width: 145px;
      height: 256px;
    }

    &_vertical > .iphone__display {
      background-size: cover;
    }

    &_horizontal > .iphone__display {
      background-size: cover;
    }

    &__button {
      margin-top: 5px;
      width: 31px;
      height: 31px;
    }

    &__button:after {
      width: 13px;
      height: 13px;
      border-radius: 3px;
    }

    &_disassembled > .iphone__dynamic {
      transform: translate(-128px, -22px) rotate(-1250deg);
    }

    &_disassembled > .iphone__display {
      transform: translate(-180px, 75px) rotate(-65deg);
    }

    &_disassembled > .iphone__button {
      transform: translate(131px, -38px) rotate(1135deg);
      transition: transform 1.3s ease-out 0.9s;
    }
  }
}

@media (max-width: 767px) {
  .iphone {
    width: 79px;
    height: 168px;
    border-radius: 10px;
    box-shadow: 9px 9px 0 0 rgba(0, 0, 0, 0.15);

    &_horizontal {
      margin-right: 55px;
      box-shadow: 9px - 9px 0 0 rgba(0, 0, 0, 0.15);
    }

    &__sensor {
      margin-top: 6px;
      width: 3.5px;
      height: 3.5px;
      border: 1.5px solid #d8d8d8;
    }

    &__dynamic {
      margin-top: 4px;
      width: 13px;
      height: 2px;
    }

    &__display {
      margin-top: 9px;
      width: 69px;
      height: 122px;
    }

    &__button {
      margin-top: 3px;
      width: 15px;
      height: 15px;
    }

    &__button:after {
      width: 6px;
      height: 6px;
      border-radius: 2px;
    }

    &_disassembled > .iphone__dynamic {
      transform: translate(-64px, -11px) rotate(-1250deg);
    }

    &_disassembled > .iphone__display {
      transform: translate(-90px, 38px) rotate(-65deg);
    }

    &_disassembled > .iphone__button {
      transform: translate(68px, -19px) rotate(1135deg);
      transition: transform 1.3s ease-out 0.9s;
    }
  }
}




