.members {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;

  &__card {
    width: auto;
  }
}

@media (max-width: 1019px) {
  .members {
    margin-top: 38px;
    gap: 2.2%;

    &__card {
      width: auto;
    }
  }
}
