.members {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  &__card {
    width: auto;
  }
}

@media (max-width: 1019px) {
  .members {
    margin-top: 38px;
    gap: 2.2%;
  }
}

@media (max-width: 767px) {
  .members {
    margin-top: 23px;
    grid-template-columns: 1fr;
    gap: 34px;
  }
}
