.slider-control {
  position: absolute;
  content: "";
  width: 16px;
  height: 27px;
  padding: 0;
  background: url("assets/images/slider-control.svg");
  filter: grayscale(100%);
  top: calc(50% - 16px);
  opacity: 0.5;
  border: none;
  outline: none;

  &_prev {
    left: calc((100% - 1020px) / 2 + 42px);
  }

  &_next {
    right: calc((100% - 1020px) / 2 + 40px);
    transform: scaleX(-1);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: filter 0.25s;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: 1019px) {
  .slider-control {
    top: calc(50% - 12px);

    &_prev {
      left: calc((100% - 768px) / 2 + 30px);
    }

    &_next {
      right: calc((100% - 768px) / 2 + 26px);
    }
  }
}
