.slide {
  display: none;
  justify-content: space-between;
  padding: 53px calc((100% - 1020px) / 2 + 112px) 83px;
  transition: background 0.5s;

  &_active {
    display: flex;
  }

  &_1 {
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
  }

  &_2 {
    justify-content: center;
    background: #648BF0;
    border-bottom: 6px solid #597DE0;
  }

  &_2 > .iphone {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 1019px) {
  .slide {
    padding: 40px calc((100% - 768px) / 2 + 84px) 62px;

    &_1 {
      border-bottom: 5px solid #ea676b;
    }

    &_2 {
      border-bottom: 5px solid #597DE0;
    }
  }
}
